<!DOCTYPE html>
<html>
    <head>
         <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>Just put the name of place in the search box and hit submit button</p>
        <p>You will get the desired result</p>
        <br>
        <p>for enquires: rohitpoddar@protonmail.com</p>
        {{>footer}}
    </body>

</html>