<div >
    <h1 id="header-title"> Current Weather</h1>
        <div id="nav-bar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>
</div>